/* input.css */
@import "tailwindcss"; /* Import Tailwind's utilities */

/* Custom class with Tailwind utilities applied using @apply */
.custom-class {
    @apply text-orange-300 bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
}



/*theme*/

@theme {
    --color-itim: #050505;
    --color-berde: #5A896F;
    --color-kayumanggi: burlywood;
    --color-asul: #889bae;
  }


  .colors {
    @apply font-bold flex items-center gap-4;
  }
  

  .color-option{
    @apply w-[25px] h-[25px] border border-black rounded-full cursor-pointer
  }


  .size p {
    font-size: 15px;
    font-weight: bold;
  }